# Rede de ensino SP

Arquivo de consolidação

In [1]:
import pandas as pd

In [3]:
privada = pd.read_excel("C:/Users/coliv/Documents/Python Scripts/Escolas São Paulo/PRIVADA.XLSX")

In [4]:
privada.head()

,-,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 80,Unnamed: 81,Unnamed: 82,Unnamed: 83,Unnamed: 84,Unnamed: 85,Unnamed: 86,Unnamed: 87,Unnamed: 88,Unnamed: 89
0,Total de alunos por escola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Fonte: Censo 2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Educação Jovens e adultos Profissionalizante,NaN,NaN,NaN,Educação Especial,Atividade complementar,Atendimento Educacional Especializado
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Ensino Médio,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,139,0,27,0,0,0,0,8946,1435,166
4,Nome dependencia Administrativa,Codigo Rede,Diretoria de ensino,Categoria,Tipo Escola,CodigoEscola,Codigo MEC,Nome Escola,Codigo Municipio,Municipio,...,Cl-Eja Em,Cl-Eja Semi Em,Cl-Eja Ead Em,Cl-Eja Projovem Urbano Ef,Cl-Eja FIC Em,Cl-Eja FIC Prof Ef,Cl-Eja FIC Prof Em,Cl-Educ.Especial,Cl-Ativ_complementar,Cl-AEE

In [7]:
#Selecionando da quarta linha em diante
privada = privada.iloc[4:90]

#Criando uma variável para o novo header com a primeira linha do meu dataframe
new_header = privada.iloc[0] 

#Começando meu dataframe a partir da segunda linha
privada = privada[1:] 

#Nomeando as colunas como a minha variável new_header
privada.columns = new_header

In [9]:
#Validando

privada.head()

4,Nome dependencia Administrativa,Codigo Rede,Diretoria de ensino,Categoria,Tipo Escola,CodigoEscola,Codigo MEC,Nome Escola,Codigo Municipio,Municipio,...,Cl-Eja Em,Cl-Eja Semi Em,Cl-Eja Ead Em,Cl-Eja Projovem Urbano Ef,Cl-Eja FIC Em,Cl-Eja FIC Prof Ef,Cl-Eja FIC Prof Em,Cl-Educ.Especial,Cl-Ativ_complementar,Cl-AEE
5,PRIVADA,20901,ADAMANTINA,1,0,155226,35155226,13 DE JUNHO ESCOLA,408,JUNQUEIROPOLIS,...,0,0,0,0,0,0,0,0,0,0
6,PRIVADA,20901,ADAMANTINA,1,40,406776,35406776,ADAMANTINA CENTRO DE RECREACAO INFANTIL DE,150,ADAMANTINA,...,0,0,0,0,0,0,0,0,0,0
7,PRIVADA,20901,ADAMANTINA,1,0,197221,35197221,ADAMANTINENSE COLEGIO,150,ADAMANTINA,...,0,0,0,0,0,0,0,0,0,0
8,PRIVADA,20901,ADAMANTINA,1,40,801689,35801689,ALICE BERNARDES SILVA CANTINHO E RECANTO DA CR...,494,OSVALDO CRUZ,...,0,0,0,0,0,0,0,0,2,0
9,PRIVADA,20901,ADAMANTINA,1,40,166819,35166819,ANA MARIA JAVOUWEY CENTRO DE ORIENTACAO FAMILI...,422,LUCELIA,...,0,0,0,0,0,0,0,0,0,0

In [11]:
#Eu quero as variáveis de 'Nome dependencia Administrativa' até 'Zona', estou retirando as variáveis de matrículas:

privada = privada.loc[:, 'Nome dependencia Administrativa':'Zona']

In [12]:
privada.head() #funcionou.

4,Nome dependencia Administrativa,Codigo Rede,Diretoria de ensino,Categoria,Tipo Escola,CodigoEscola,Codigo MEC,Nome Escola,Codigo Municipio,Municipio,...,Distrito,CEP,Complemento,Endereco,Numero,Ddd,Fone1,Fone2,Email,Zona
5,PRIVADA,20901,ADAMANTINA,1,0,155226,35155226,13 DE JUNHO ESCOLA,408,JUNQUEIROPOLIS,...,JUNQUEIROPOLIS,17890000,PRACA,AVENIDA JUNQUEIRA,475,18,38412760,38421312,ESCOLA.OBJETIVO@HOTMAIL.COM,1
6,PRIVADA,20901,ADAMANTINA,1,40,406776,35406776,ADAMANTINA CENTRO DE RECREACAO INFANTIL DE,150,ADAMANTINA,...,ADAMANTINA,17800000,RUA,AL. BRÁULIO MOLINA FRIAS,120,18,35211614,35225379,NaN,1
7,PRIVADA,20901,ADAMANTINA,1,0,197221,35197221,ADAMANTINENSE COLEGIO,150,ADAMANTINA,...,ADAMANTINA,17800000,1372,ALAMEDA FERNAO DIAS,1370,18,35212934,NaN,OBJETADT@TERRA.COM.BR,1
8,PRIVADA,20901,ADAMANTINA,1,40,801689,35801689,ALICE BERNARDES SILVA CANTINHO E RECANTO DA CR...,494,OSVALDO CRUZ,...,OSVALDO CRUZ,17700000,RUA,RUA AUGUSTA,189,18,35284733,NaN,CANTINHO@WEBCRUZ.COM.BR,1
9,PRIVADA,20901,ADAMANTINA,1,40,166819,35166819,ANA MARIA JAVOUWEY CENTRO DE ORIENTACAO FAMILI...,422,LUCELIA,...,LUCELIA,17780000,RUA,RUA DORIVAL DE BARROS,280,18,35511886,NaN,CRECHEANAMARIA1@HOTMAIL.COM,1

In [33]:
est_outras = pd.read_excel("C:/Users/coliv/Documents/Python Scripts/Escolas São Paulo/ESTADUAL_OUTRAS.XLSX")

In [34]:
est_outras.shape

(261, 90)

In [35]:
est_outras = est_outras.iloc[4:261]
new_header = est_outras.iloc[0]
est_outras = est_outras[1:]
est_outras.columns = new_header
est_outras = est_outras.loc[:, 'Nome dependencia Administrativa':'Zona']
est_outras.shape

In [37]:
est_see = pd.read_excel("C:/Users/coliv/Documents/Python Scripts/Escolas São Paulo/ESTADUAL_SEE.XLSX")

In [38]:
est_see.shape

(5645, 90)

In [39]:
est_see = est_see.iloc[4:5645]
new_header = est_see.iloc[0]
est_see = est_see[1:]
est_see.columns = new_header
est_see = est_see.loc[:, 'Nome dependencia Administrativa':'Zona']
est_see.shape

(5640, 22)

In [40]:
fed = pd.read_excel("C:/Users/coliv/Documents/Python Scripts/Escolas São Paulo/FEDERAL.XLSX")

In [41]:
fed.shape

(40, 90)

In [42]:
fed = fed.iloc[4:40]
new_header = fed.iloc[0]
fed = fed[1:]
fed.columns = new_header
fed = fed.loc[:, 'Nome dependencia Administrativa':'Zona']
fed.shape

(35, 22)

In [43]:
mun = pd.read_excel("C:/Users/coliv/Documents/Python Scripts/Escolas São Paulo/MUNICIPAL.XLSX")

In [44]:
mun.shape

(12826, 90)

In [45]:
mun = mun.iloc[4:12826]
new_header = mun.iloc[0]
mun = mun[1:]
mun.columns = new_header
mun = mun.loc[:, 'Nome dependencia Administrativa':'Zona']
mun.shape

(12821, 22)

In [47]:
rede_ensino_sp = pd.concat([privada, est_outras, est_see, fed, mun], axis=0, sort=False)

In [49]:
rede_ensino_sp.to_csv(r'C:/Users/coliv/Documents/Python Scripts/Escolas São Paulo/dados_rede_de_ensino_sp/rede_ensino_sp.csv')